@font-face {
    font-family: 'DM Sans';
    src: url(./assets/fonts/DMSans-VariableFont_opsz\,wght.ttf);
}

:root {
    --purple100: hsl(254, 88%, 90%);
    --purple500: hsl(256, 67%, 59%);
    --yellow100: hsl(31, 66%, 93%);
    --yellow500: hsl(39, 100%, 71%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 7%);
}

* {
    font-family: 'DM Sans';
    font-size: 13.5pt;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 95%);
}

main {
    max-width: 375px;
    margin-top: 2rem;
}

section {
    width: 345px;
    margin-bottom: 1.8rem;
    border-radius: .5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.100);

    img {
        max-width: 90%;
    }
}

section:nth-of-type(1) {
    height: 290px;
    display: flex;
    background-color: var(--purple500);

    h1,
    span,
    i {
        color: var(--white);
        width: 80%;
        font-size: 2.6rem;
        font-weight: 500;
        text-align: center;
        line-height: 2.4rem;
    }

    img {
        margin-top: 1.1rem;
        width: 60%;
    }

    p {
        margin-top: 0;
        color: var(--yellow100);
    }
}

section:nth-of-type(2) {
    height: 160px;
    background-color: hsl(0, 0%, 100%);

    img {
        margin: 1rem 1rem 0 1rem;
        max-width: 90%;
        box-shadow: 0px 10px 20px 1px rgba(0, 0, 0, 0.040);
        border-radius: 3rem;
    }

    h2 {
        max-width: 90%;
        margin: .5rem auto 0 1rem;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.3rem;
        letter-spacing: -.1rem;
    }
}

section:nth-of-type(3) {
    height: 215px;
    background-color: var(--yellow500);
    overflow-y: hidden;

    h2 {
        margin: 1rem 1rem .8rem 1rem;
        max-width: 70%;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.3rem;
        letter-spacing: -.1rem;
    }

    img {
        width: 60%;
        margin-left: 1rem;
    }
}

section:nth-of-type(4) {
    height: 470px;
    background-color: var(--purple100);
    display: flex;
    justify-content: space-evenly;

    h2 {
        margin-top: .3rem;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.3rem;
        letter-spacing: -.1rem;
        text-align: center;
    }

    img {
        width: 87%;
        /* margin: 0; */
    }

    p {
        font-weight: 500;
        margin-bottom: .4rem;
        text-align: center;
        width: 80%;
        line-height: 1rem;
    }
}

section:nth-of-type(5) {
    height: 370px;
    background-color: var(--purple500);
    display: flex;
    justify-content: space-around;

    h2 {
        color: var(--white);
        width: 60%;
        font-size: 1.7rem;
        font-weight: 500;
        text-align: center;
        line-height: 1.4rem;
    }

    img {
        width: 65%;
    }
}

section:nth-of-type(6) {
    height: 215px;
    background-color: var(--white);
    padding: 1.5rem;

    h2 {
        font-weight: 600;
        width: 60%;
        font-size: 2.5rem;
        margin-bottom: .5rem;
        line-height: 2.5rem;
    }

    img {
        margin-top: 1.3rem;
        width: 60%;
    }
}

section:nth-of-type(7) {
    height: 230px;
    background-color: var(--yellow100);
    padding: 1.6rem;

    h2,
    i {
        margin-top: .3rem;
        font-size: 1.7rem;
        font-weight: 600;
        line-height: 1.5rem;
        letter-spacing: -.05rem;
    }

    i {
        color: var(--purple500);
    }

    img {
        width: 65%;
        margin-top: 1.3rem;
    }
}

section:nth-of-type(8) {
    height: 345px;
    background-color: var(--yellow500);
    padding: 1rem;

    h2 {
        margin-top: .3rem;
        font-size: 1.7rem;
        font-weight: 600;
        line-height: 1.5rem;
        letter-spacing: -.05rem;
    }

    img {
        width: 70%;
        margin-top: 1.4rem;
    }
}



@media (min-width: 1200px) {
    body {
            height: 100vh;
            margin: 0;

        main {
            max-width: 100%;
            height: 90vh;
            display: grid;
            gap: 26px;

            grid-template-columns:repeat(4, 270px) ;
            grid-template-rows: auto;

            justify-content: center;
        }

        section {
            margin: 0;
            padding: 0;
            box-shadow: none;
        }

        section:nth-of-type(1) {
            width: 545px;
            height: 325px;
            grid-column: 2 / 2;
            grid-row: 1 / 1;
        }

        section:nth-of-type(2) {
            height: 250px;
            width: 250px;
            grid-column: 2 / 2;
            grid-row: 2 / 2;
            align-self: center;
        }

        section:nth-of-type(3) {
            height: 250px;
            width: 250px;
            grid-column: 3 / 3;
            grid-row: 2 / 2;
            align-self: center;
        }

        section:nth-of-type(4) {
            height: 600px;
            width: 260px;
            grid-row: 1 / span 3;
            grid-column: 4 / 4;

        }

        section:nth-of-type(5) {
            height: 260px;
            width: 540px;
            grid-column: 3 / 3;
            grid-row: 3 / 3;
            align-self: center;

            img {
                width: 30%;
            }
            
        }

        section:nth-of-type(6) {
            height: 250px;
            width: 250px;
            grid-column: 2 / 2;
            grid-row: 3 / 3;
            align-self: center;
        }

        section:nth-of-type(7) {
            height: 415px;
            width: 260px;
            grid-row: 1 / span 2;
            grid-column: 1 / 1;
            align-self: flex-start;
        }

        section:nth-of-type(8) {
            height: 435px;
            width: 260px;
            grid-column: 1;
            grid-row: 2 / span 2;
            align-self: flex-end;
        }
    }
}