/* 
- Purple 100: hsl(254, 88%, 90%)
- Purple 500: hsl(256, 67%, 59%)

- Yellow 100: hsl(31, 66%, 93%)
- Yellow 500: hsl(39, 100%, 71%)

- White: hsl(0, 0%, 100%)
- Black: hsl(0, 0%, 7%) 
*/

@font-face {
    font-family: 'DM Sans';
    src: url(./assets/fonts/DMSans-VariableFont_opsz\,wght.ttf);
}

* {
    font-family: 'DM Sans';
    font-size: 13.5pt;
    margin: 0;
    padding: 0;
}
